/*
  The Tailwind core is imported only for Tailwind CSS IntelliSense support.
  It will not be included in the final build.
*/
/* postcss-ignore-next */
@import "tailwindcss";

/*
  Note:
  - `--background-color-<smth>` variable aims only for background colors.
  - `--color-<smth>` variable aims for any other so text, borders, rings etc.
  - `--<smth>-inv` variables are inverse colors of the corresponding
    `--color-<smth>` variable.

  Such differentiation allows to define content-background color variations
  that are easy to maintain. With inverted colors it allows to compose 
  contrasting color schemes.

  In majority of cases the use of `dark:` modifier won't be even needed.
*/

@theme {
  --font-sans: "system-ui";
  --font-mono: "monospace";

  --color-mud-50:  #F6F3F3;
  --color-mud-100: #E8E0DF;
  --color-mud-200: #D2C4C2;
  --color-mud-300: #9A8684;
  --color-mud-400: #8F7A78;
  --color-mud-500: #846E6C;
  --color-mud-600: #6F5957;
  --color-mud-700: #594341;
  --color-mud-800: #3F2C2B;
  --color-mud-900: #321312;
  --color-mud-950: #290500;

  --color-sand-50:  #FEF7F6;
  --color-sand-100: #F7EEED;
  --color-sand-200: #E6DAD9;
  --color-sand-300: #CBB9B7;
  --color-sand-400: #B09C9A;
  --color-sand-500: #9A8684;
  --color-sand-600: #846E6C;
  --color-sand-700: #6B5452;
  --color-sand-800: #4A2F2D;
  --color-sand-900: #321312;
  --color-sand-950: #290500;

  --color-vermilion-50:  #FFF2EF;
  --color-vermilion-100: #FFDAD4;
  --color-vermilion-200: #FFB5A8;
  --color-vermilion-300: #FF8A74;
  --color-vermilion-400: #F95A3B;
  --color-vermilion-500: #E81D00;
  --color-vermilion-600: #C61700;
  --color-vermilion-700: #9F1200;
  --color-vermilion-800: #770D00;
  --color-vermilion-900: #520800;
  --color-vermilion-950: #2E0400;

  --color-main: var(--color-mud-950);
  --color-muted: var(--color-mud-500);
  --color-subtle: var(--color-mud-300);

  --background-color-main: var(--color-sand-50);
  --background-color-elevated: var(--color-sand-100);

  --color-accent: var(--color-vermilion-500);
}

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@variant dark {
  --color-main: var(--color-mud-50);
  --color-muted: var(--color-mud-300);
  --color-subtle: var(--color-mud-700);

  --background-color-main: var(--color-sand-950);
  --background-color-elevated: var(--color-sand-900);

  --color-accent: var(--color-vermilion-600);
}
